<div>
  <form>
    <fieldset>
      <legend>Вход на сайт</legend>
      <label>Логин</label>
      <input type="text" placeholder="введите логин_">
      <span class="help-block">Введите свой логин</span>
      <label class="checkbox">
        <input type="checkbox"> Нажми здесь и выдели checkbox
      </label>
      <button type="submit" class="btn">Войти</button>
    </fieldset>
  </form>
</div>