#header {
  border: solid 1px black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 60%;
  position: fixed;
  top: 0;
  left: 20%;
  padding: 10px;
}
#logo {
  border: solid 0px black;
  border-radius: 5px;
  width: 15%;
  padding: 5px;
  text-align: center;
}
a {
  text-decoration: none;
}
.navbutton:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}
#wrapper {
  border: solid 0px black;
  width: 60%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: 20%;
}
#content {
  border: solid 1px black;
  position: relative;
  width: 95%;
  margin: 0 auto;
}