<!DOCTYPE html>
<html>
<head>
  <title>Piragoff</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <a href="/index">
    <div id="logo" class="navbutton">
      Piragoff & C<sup>o</sup>
    </div>
    </a>
    <div class="navlist">
      Жизнь
    </div>
  </div>
  <div id="wrapper">
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
