<!DOCTYPE html>
<html>
<head>
  <title>Piragoff</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
  </div>
  <div>
   <%= yield %>
  </div>
</body>
</html>
